<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1920, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>DNA SEARCH</title>
</head>
<body>
    
    <canvas style="opacity:0.5;"></canvas>

    <article id="title">
      <h1>DNA Search</h1>
      <p>Terminale NSI</p>
    </article>

    <br><br>
    
    <div id="div-content">
        <article id="search">
            <label for="wordSearch">Search</label>
        </article>
        
        <input type="text" id="search-input">
        <input type="submit" value="Submit" id="search-button">
        
        <input type="checkbox" id="hard-search-checkbox">

    
        <br></br>
    
        <div>
            <select id="genes-selector">
                {% for gene in dnaNames %}
                   <option value="{{ gene[0] }}">{{ gene[1] }}</option>
                {% endfor %}
            </select>
        </div>
        
        <br><br>
        
        <div id="converted-gene-div">
            <p id="converted-gene-content">
            </p>
        </div>

        <br>
        <br>
        
        <article id="search">
            <label for="addDNA">Add DNA Database</label>
        </article>
        <input type="text" id="add-dna-name-input">
        <input type="text" id="add-dna-content-input">
        <input type="submit" value="Submit" id="add-dna-button">
        
    </div>
    
    <script src="static/canvas.js"></script>
    <script src="static/api.js"></script>
    <script src="static/main.js"></script>
</body>
</html>